head
	title= IzTest
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
	link(href="https://fonts.googleapis.com/css?family=Josefin+Sans", rel="stylesheet")
	style
		include ../../style/main.css
	script(src='https://unpkg.com/react@16/umd/react.development.js')
	script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js')
